body {
	background-repeat: no-repeat;
}

h2 {
	text-align: left;
	padding: 2% 0 1%;
}

.page1 {
	padding: 10% 20%
}

.whoami {
	color: #EFEAD8;
	padding-bottom: 1rem;
}

.whatami {
	color: grey;
}

.iam {
	font-family: 'Kaushan Script', cursive;
	color: inherit;
	font-size: 4rem;
}

.btn {
	font-family: "Trebuchet MS", "Overpass", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Arimo", Tahoma, sans-serif;
}

.btn:hover {
	text-decoration: line-through;
}

.descrip {
	font-size: 1rem;
}

.container-fluid {
	padding: 7% 15%;
}

.card {
	padding: 0 8%;
	border: #EFEAD8;
	background-color: #EFEAD8;
}

.skills {
	padding: 0 7% 2%;
}

.skill-align {
	padding: 2% 0 0 10%;
}

.profess, .trainings, .certifications, .academics, .contact, .card-body {
    font-family: "Trebuchet MS", "Overpass", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Arimo", Tahoma, sans-serif;
	padding: 0 15%;
	padding: 0 7% 2% 10%;
	line-height: 200%;
	font-size: 1.1rem;
}

.bottom-container {
    padding: 2% 0;
}

th {
    font-weight: lighter;
}

#title .container-fluid {
	padding: 0 10%;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: grey;
}

.colored-section {
	background-color: #051939;
	color: #EFEAD8;
}

.white-section {
	background-color: #EFEAD8;
	color: #051939;
}

.bottom-container {
	color: grey;
	position: relative;
	text-align: center;
	margin: auto;
	font-stretch: expanded;
	font-weight: lighter;
	font-size: 1rem;
}

.workinp {
	display: flex;
	margin: 0 auto 0 auto;
}

.WIP {
	margin: auto;
}

.bg {
	/* The image used */
	background-image: url("../images/WIP.png");
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.demo-wrap {
	overflow: hidden;
	position: relative;
}

.demo-bg {
	opacity: 0.1;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 0;
	width: 100%;
	height: auto;
	z-index: -1;
}

.demo-content {
	position: relative;
	opacity: 0.3;
	font-family: 'Kaushan Script', cursive;
	font-size: 200%;
}

@media (max-width:992px) {
	#title .container-fluid {
		padding: 0 10%;
		text-align: left;
	}
    .page1 {
        text-align: center;
    }

}
